.arrow{
   position: relative;
}
.arrow::before,
.arrow::after{
   content: "";
   position: absolute;
   display: block;
   top: 50%;
   width: 10px;
   height: 1px;
   background: var(--primary-color);
   transition: .2s all linear;
}
.arrow::before{
   right: 8px;
   transform: rotate(-30deg);
   
}
.arrow::after{
   right: 16px;
   transform: rotate(30deg);
   
}
.arrow.up::before{
   right: 8px;
   transform: rotate(30deg);
   
}
.arrow.up::after{
   right: 16px;
   transform: rotate(-30deg);
   
}